<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.content.res.flaggedresourcesrw.cts">

    <uses-sdk android:minSdkVersion="29"   android:targetSdkVersion="36" />

    <application android:localeConfig="@xml/locales_config">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="android.content.res.flaggedresourcesrw.cts"
        android:label="CTS tests of android.content.res.flaggedresourcesrw.cts">
    </instrumentation>
</manifest>